ion-avatar{
    width:100% !important;  
    height : 100% !important;  
    max-width: 100px !important;  //any size
    max-height: 100px !important; //any size 
    margin: 0 auto;
    border: 2px solid rgb(0, 0, 0) !important;
}

.names{
    text-align: center;
}

.profileEdit {
    padding-left: 10px;
    padding-right: 10px;
}

h3 {
   padding: 0px;
   margin : 0px;
}

p {
    padding: 0px;
    margin : 0px;
}