<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" mode="ios"></ion-back-button>
    </ion-buttons>
    <!-- <ion-title>registerSelect</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios"> 
    <ion-card-header>
      <ion-card-subtitle>Crear nueva cuenta</ion-card-subtitle>
      <ion-card-title >Tipo de cuenta</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-button expand="block" fill="outline" shape="round" color="tertiary" routerLink="/register">Personal</ion-button>
      <ion-button expand="block" fill="outline" shape="round" color="tertiary" style="margin-top: 10px;">Empresa</ion-button>
      <!-- <div class="verticalLine">
      </div> -->
      <div id="blue_box">
        <div id="left"><h4 style="text-align: center; color: black; font-size: 12px;"><strong>Cuenta personal</strong></h4>
          <p style="font-size: 10px; text-align: left">
            ⦿ Crea perfiles de máscotas.
          </p>
          <p style="font-size: 10px; text-align: left">
            ⦿ Crea publicaciones de ayuda.
          </p>
          <p style="font-size: 10px; text-align: left">
            ⦿ Chatea con otros usuarios.
          </p>
          <p style="font-size: 10px; text-align: left">
            ⦿ Enterate de todo gracias al mapa interactivo.
          </p>
        </div>
        <div class="divider"></div>
        <div id="right"><h4 style="text-align: center; color: black; font-size: 12px;"><strong>Cuenta empresa</strong></h4>
          <p style="font-size: 10px; text-align: left;">
            ⦿ Crea publicidades de tus productos/servicios.
          </p>
          <p style="font-size: 10px; text-align: left;">
            ⦿ Crea publicaciones de ayuda.
          </p>
          <p style="font-size: 10px; text-align: left;">
            ⦿ Chatea con clientes.
          </p>
          <p style="font-size: 10px; text-align: left;">
            ⦿ Controla tu empresa gracias al dashboard.
          </p></div>
      </div>
    </ion-card-content>
  </ion-card>
  <!-- <ion-card mode="ios"> 
    <ion-card-content>
      <div id="blue_box">
        <div id="left"></div>
        <div class="divider"></div>
        <div id="right"></div>
      </div>
    </ion-card-content>
  </ion-card> -->
</ion-content>
