// .ion-padding {
//     text-align: center;
//     display: inline-block;
//     vertical-align: middle;
// }

.noPetIcon {
    font-size: 120px;
    color: black;
    padding-bottom: -20px;
}

.noPetCard{
    text-align: center;
    box-shadow: none !important;
}