<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
      <img src="../../../../assets/img/lettering.png" style="margin-top: 10px;">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="goTo()">
        <ion-icon slot="icon-only" name="chatbubbles-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides loop="false" speed="500" spaceBetween="0" direction="vertical" slidesPerView="2" effect="slide" pager="false" zoom="false" [options]="slideOptions">
    <ion-slide *ngFor="let pet of pets">
      <ion-card>
        <img src="{{pet.image}}" class="imgP"/>
        <ion-card-header>
          <ion-card-title>{{pet.name}}</ion-card-title>
          <ion-card-subtitle>{{pet.distancia}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content style="font-size: small;">
          {{pet.descripcion}}
        </ion-card-content>
        <div *ngIf="pet.tipo === 'Ayudar'">
          <ion-button size="small" mode="ios">Ayudar</ion-button>
        </div>
        <div *ngIf="pet.tipo === 'Adoptar'">
          <ion-button size="small" mode="ios">Adoptar</ion-button>
        </div>
        <div *ngIf="pet.tipo === 'Comprar'">
          <ion-button size="small" mode="ios">Comprar</ion-button>
        </div>
      </ion-card>
    </ion-slide>
    <!-- <ion-slide style="background-color: green; opacity: 0.5;">
    </ion-slide>
    <ion-slide style="background-color: yellow; opacity: 0.5;">
    </ion-slide>
    <ion-slide style="background-color: pink; opacity: 0.5;">
    </ion-slide> -->
  </ion-slides>
</ion-content>

