<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title mode="ios">
      <img src="../../../../assets/img/lettering.png" style="margin-top: 10px;">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-icon slot="icon-only" name="chatbubbles-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <app-explore-container name="Inicio"></app-explore-container> -->
</ion-content>
